<ion-header>
  <ion-toolbar>
    <ion-item lines="none">
      <ion-icon name="arrow-back-outline" (click)="onBack()"></ion-icon>
      <ion-label>
        {{ menu?.title }}
      </ion-label>
    </ion-item>

    <ion-buttons slot="end">
      <ion-button>

      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <!-- Mostrar el loader mientras isLoading es true -->
  <div *ngIf="isLoading" class="loader">
    <ion-spinner name="crescent"></ion-spinner>
    <p>Cargando menús...</p>
  </div>

  <img *ngIf="menu?.image" [src]="menu.image" [alt]="menu.title" class="centered-image" />


  <div class="button-group">
    <ion-button (click)="showContent('content1')" class="btn">Ingredientes</ion-button>
    <ion-button (click)="showContent('content2')" class="btn">Intrucciones</ion-button>
  </div>

  <div class="content" *ngIf="selectedContent === 'content1'">
    <ul>
      <li *ngFor="let ingredient of menu?.ingredients">{{ ingredient }}</li>
    </ul>

  </div>
  <div class="content" *ngIf="selectedContent === 'content2'">
    <ul>
      <li *ngFor="let instruction of menu?.instructions">{{ instruction }}</li>
    </ul>

  </div>
  <div class="shopping-list-container">
    <!-- Título de la lista de compras -->
    <h2 class="shopping-list-title">Listas de Compras</h2>
  
    <ul class="shopping-list">
      <li *ngFor="let list of menu?.shopping_list" class="shopping-item">
        <div class="item-content">
          <ion-icon name="restaurant" class="shopping-icon"></ion-icon>
          <span class="item-text">{{ list }}</span>
        </div>
        <ion-icon name="checkmark-circle" class="check-icon" *ngIf="list.isCompleted"></ion-icon>
      </li>
    </ul>
  </div>
  
  
  
</ion-content>

<ion-footer>

    <ion-button expand="full" (click)="addToShoppingList(menuId)">Agregar a lista de compras</ion-button>

</ion-footer>
