# General Logs
app/logs/
*.log
app/npm-debug.log*
app/yarn-debug.log*
app/yarn-error.log*
app/lerna-debug.log*

# Diagnostic reports (https://nodejs.org/api/report.html)
app/report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json

# Runtime data
app/pids/
*.pid
*.seed
*.pid.lock

# Instrumented libraries
app/lib-cov/

# Coverage directories
app/coverage/
*.lcov
app/.nyc_output/

# Grunt intermediate storage
app/.grunt/

# Bower dependency directory
app/bower_components/

# Node.js build output
app/build/Release/

# Dependency directories
app/node_modules/
app/jspm_packages/

# Frontend-specific ignores (app directory)
app/www/
app/android/
app/ios/
app/.angular/
app/dist/
app/.cache/
app/.next/
app/.nuxt/
app/.rpt2_cache/
app/.rts2_cache_*/

# TypeScript cache
app/*.tsbuildinfo

# Environment variables
.env
.env.test

# Yarn-specific files
app/.yarn-integrity

# Optional npm pack output
app/*.tgz

# Optional eslint cache
app/.eslintcache

# Backend-specific ignores
backend/.phpunit.cache
backend/node_modules
backend/public/build
backend/public/hot
backend/public/storage
backend/storage/*.key
backend/vendor
backend/.env
backend/.env.backup
backend/.env.production
backend/.phpunit.result.cache
backend/Homestead.json
backend/Homestead.yaml
backend/auth.json
backend/npm-debug.log
backend/yarn-error.log
backend/.fleet/
backend/.idea
backend/.vscode

# Ignore IDE and editor files
.vscode/
*.swp
*~
.DS_Store
Thumbs.db

# Ignore lockfiles for specific environments
.lock-wscript

# Exclude build files for other frameworks
.serverless/
.fusebox/
.dynamodb/
.tern-port
