<!--
  Authors : initappz (Rahul Jograna)
  Website : https://initappz.com/
  App Name : Grocery App Template
  This App Template Source code is licensed as per the
  terms found in the Website https://initappz.com/license
  Copyright and Good Faith Purchasers © 2022-present initappz.
 -->
<ion-content>
  <div class="main_div">
    <div class="bg_image back_image" [style.backgroundImage]="'url(assets/images/welcome.webp)'">
      <div class="contant">
        <ion-label class="label">Menulisto</ion-label>
        <ion-label class="desc">¿Qué vas a cocinar?</ion-label>
        <ion-label class="desc">¿Qué necesitas comprar para esas comidas?</ion-label>
        <ion-label class="desc">Todo desde tu teléfono</ion-label>
        <ion-button expand="block" (click)="onLogin()">
          Siguiente
        </ion-button>
      </div>
    </div>
  </div>
</ion-content>
