<ion-content class="ion-padding">
  <div class="ion-padding space">
    <div>
      <ion-label class="simp_lbl">Acceda a su cuenta</ion-label>

      <ion-label class="label">Usuario<span>*</span></ion-label>

      <ion-item lines="none">
        <ion-input type="email" placeholder="Email"></ion-input>
      </ion-item>

      <ion-label class="label">Contraseña<span>*</span></ion-label>

      <ion-item lines="none">
        <ion-input type="password" placeholder="Password"></ion-input>
      </ion-item>

      <div class="check">
        <ion-checkbox mode="md" checked></ion-checkbox>
        <ion-label></ion-label>
      </div>

      <ion-button expand="block" (click)="goToHome()">
        Iniciar sesión
      </ion-button>

      <!-- <ion-label class="forgot_lbl">¿Ha olvidado la contraseña?</ion-label> -->
     
    </div>
  </div>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <div class="bottom">
      <ion-label class="last_lbl">¿No tienes cuenta? <span>Regístrate</span></ion-label>
    </div>
  </ion-toolbar>
</ion-footer>
