<ion-header>
  <ion-toolbar>
    <ion-title>Mis listas de compras</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="searchbar">
    <ion-icon slot="end" name="add-outline" color="primary" class="filter" (click)="openCreateListModal()"></ion-icon>
  </div>

  <div class="card-container">

  <!-- Mostrar el loader mientras isLoading es true -->
  <div *ngIf="isLoading" class="loader">
    <ion-spinner name="crescent"></ion-spinner>
  </div>

    <div class="grocery" *ngFor="let item of lists" (click)="onDetail(item.id)">
      <div class="text-container">
        <!-- Icono del carrito de compras -->
        <ion-icon name="cart" class="cart-icon"></ion-icon>
        
        <!-- Texto del nombre y descripción -->
        <ion-label class="bold_text">{{ item.name }}</ion-label>
        <ion-label class="grey_text">{{ item.description }}</ion-label>
      </div>
    </div>
  </div>
  

</ion-content>