ion-header {
    --background: var(--ion-color-primary);

    ion-toolbar {
        --background: var(--ion-color-primary);

        ion-item {
            --background: transparent;

            ion-icon {
                font-size: 20px;
                color: #eaeaf4;
            }

            .back_image {
                height: 40px;
                width: 40px;
                border-radius: 100%;
                margin-left: 10px;
            }

            ion-label {
                margin-left: 1rem;
                color: #eaeaf4;

                h2 {
                    font-size: 18px;
                    font-weight: bold;
                }
            }
        }
    }
}

ion-content {

    .messageList {
        .left {
            width: 100%;
            float: left;
            margin-left: 15px;

            p {
                width: max-content;
                float: left;
                background: rgb(237, 235, 235);
                border-radius: 0 10px 10px 10px;
                padding: 5px 10px;
            }
        }

        .right {
            width: 100%;
            float: right;
            margin-right: 15px;

            p {
                width: max-content;
                float: right;
                background: var(--ion-color-primary);
                color: white;
                border-radius: 10px 0px 10px 10px;
                padding: 5px 10px;
            }
        }
    }
}

ion-footer {
    ion-toolbar {
        --border-width: 0px;
        padding: 10px;
        align-items: center;

        ion-row {
            display: flex;
            flex-direction: row;

            ion-col {
                ion-input {
                    --padding-start: 20px;
                    background: #F4F5F8;
                    border-radius: 30px;
                    border: 1px solid rgb(220, 219, 219);
                }

                ion-buttons {
                    background: #fe734d50;
                    border-radius: 50%;
                }

                .btn {
                    background: var(--ion-color-primary);
                    color: white;
                    border-radius: 50%;
                    height: 100%;
                    width: 90%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
            }
        }
    }
}

ion-content {
    .searchbar {
        display: flex;
        align-items: center;

        .icon {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 9px 15px;
            background-color: rgb(230, 229, 229);
            width: 100%;
            margin-right: 10px;
            border-radius: 20px;
        }

        .filter {
            background-color: #E8F8F1;
            padding: 12px 15px;
            border-radius: 8px;
        }
    }

    .cart_item {
        margin-top: 20px;
        box-shadow: 0px 0px 20px 1px rgba(0, 0, 0, 0.1);
        background-color: white;
        padding: 15px 7px;
        border-radius: 10px;

        .grocery_image {
            height: 50px;
            width: 50px;
            border-radius: 100%;
            margin-right: 10px;
        }

        .bold_text {
            font-size: 15px;
            font-family: 'semi-bold';
        }

        .grey_text {
            font-size: 13px;
            color: grey;
        }

        .price {
            color: var(--ion-color-primary);
            font-size: 14px;
            font-family: 'semi-bold';
        }

        .delete {
            display: flex;
            justify-content: end;
            margin-top: 5px;
        }

        .right {
            .status {
                display: flex;
                justify-content: center;
                align-items: center;
                color: white;
                border-radius: 10px;
                background-color: var(--ion-color-primary);
            }
        }
    }
}

/* ELIMINAR */
ion-tab-button {

    /* Fondo rojo claro */
    color: #721c24;
    /* Color rojo oscuro */
}


/* LISTA */
.shopping-list-container {
    padding: 10px;
  }
  
  .shopping-list {
    list-style-type: none;
    padding-left: 0;
    margin: 0;
    text-align: left;
  }
  
  .shopping-list li {
    padding-left: 10px;
    padding-right: 10px;
  }
  
  shopping-list {
  max-height: 80vh;
  overflow-y: auto;
}

/* LOADER */
.loader {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 60%;
    text-align: center;
  }
  
  .search-container {
    display: flex;
    align-items: center;
    padding: 10px;
  }
  
  .search-input {
    flex: 1;
    height: 20px !important;
  }
  
  .btn{
    width: 20dvh;
  }
